<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Editar Pessoa</title>

</head>
<body>
    <div id="container-principal">

    </div>

    
    <!--Main e Pagina-->
        <script src="../public/js/main.js"></script>
        
    <!--Elementos-->
        <script src="../public/js/Elements/divs.js"></script> 
        <script src="../public/js/Elements/forms.js"></script>
        <script src="../public/js/Elements/titles.js"></script>
        <script src="../public/js/Elements/labels.js"></script>
        <script src="../public/js/Elements/inputs.js"></script>
        <script src="../public/js/Elements/buttons.js"></script>

    <!--Pagina-->
        <script src="../public/js/viewsDesign/update.js"></script>

</body>
</html>